<p id="notice"><%= notice %></p>

<div class="row"> 
  <div class="medium-6 columns">
    <h2>Листовки</h2> 
  </div>
  <div class="medium-6 columns"> 
     <% if current_user.try(:admin?) %> 
    <%= link_to 'Добавить новую листовку', new_flyer_path %>
    <% end %>
  </div>
</div>

    
      
       
<div class="row">
  <% @flyers.each do |flyer| %>
  <div class=" medium-4 columns">
    <div class="card">
      <div class="title"><%= flyer.title %></div>
      <div class="image">
        <%= image_tag flyer.article.url(:thumb) %>
        
      </div>
      <div class="content">
        <p><%= flyer.descr %></p>
      </div>
      <div class="action">
        <table><tr><a href='#'><%= link_to "Скачать", flyer.article.url(:original, false) %></a></tr>
        <tr>
        <td><%= link_to 'Edit', edit_flyer_path(flyer) %></td>
        <td><%= link_to 'Destroy', flyer, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
      </table>
      </div>
    </div>
  </div>
  <% end %>
</div>


