
<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
	
<script type="text/javascript">
	 function(){
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.lat,
    lng: position.coords.lng
  });
  handler.map.centerOn(marker);
};
    </script>

      
        
        <div class="large-4 small-3 columns">
          <a href="#" ><%= button_to 'New Post', new_post_path, :class => "button", :method => :get  %></a>
        </div>
      
 

<%= render 'map' %>
<br>

<%= link_to 'New Post', new_post_path %>
<% else %>

<%= render 'layouts/landing' %>

<% end %>