<%# add navigation links to this file %>


<% if user_signed_in? %>
  <li><%= link_to 'Настройки профиля', edit_user_registration_path %></li>

<% else %>
  <li><%= link_to 'Вход', new_user_session_path %></li>
  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
	<li class="has-dropdown"><a href="#"><%= link_to 'Листовки', flyers_path %></a>
    
</li>
<li class="divider"></li>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Админка', '/admin' %></li>
    <li><%= link_to 'Пользователи', users_path %></li>
  <% end %>
<li><%= link_to 'Выход', destroy_user_session_path, :method=>'delete' %></li>
<% end %>
